.vagrant
target
src/target/
src/lib_managed/
src/project/boot/
src/project/build/target/
src/project/plugins/target
src/project/plugins/lib_managed/
src/project/plugins/src_managed/
src/jgo.tmproj
.jgo.sublime-project
.jgo.sublime-workspace
.idea
.DS_Store
